
*{
    box-sizing: border-box;
}



.box {
    width: 150px;
    height: 150px;
    border: 1px black solid
}

.box1{
    background-color: aqua;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

.box2{
    background-color: blueviolet;
    margin: 10px 20px 30px 40px 
}

button {
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: red;
}

table tr:nth-child(even) {
    background-color: gray;
}

.p_el::before{
    content: "Псевдо элемент BEFORE ";
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.p_el::after{
    content: "Псевдо элемент AFTER";
    color: rgb(255, 0, 0);
    font-weight: bold;
}