
*{
    box-sizing: border-box;
}



.box {
    width: 250px;
    height: 250px;
    border: 1px black solid
}

.box1{
    background-color: aqua;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

.box2{
    background-color: blueviolet;
    margin: 10px 20px 30px 40px 
}